// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* posts/index ================================ */
.posts-mark {
  float: left;
  font-size: 80px;
  color: #75A9FF;
  margin-right: 20px;
  margin-left: 110px;
}

.posts-heading {
  font-weight: 500;
  margin: 100px 0 60px;
  font-size: 48px;
  color: white;
}


.posts-index-item {
  padding: 20px 30px;
  margin-bottom: 10px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  border: 7px double black;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  border-bottom: 1px solid #777777;
}

.post-user-name a:hover {
  color: #005FFF;
}

.post-sentence-hover a:hover {
  color: #005FFF;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.post-edit-mark {
  float: left;
  font-size: 80px;
  color: #FF82B2;
  margin-right: 20px;
  margin-left: 120px;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  border: 7px double black;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 20px;
  padding-left: 10px;
}

.likesU-mark-unlike {
  color: #ff2581;
}

.likesU-mark-like {
  color: #8899a6;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

/* posts/new ================================ */
.newp-mark {
  float: left;
  font-size: 80px;
  color: #DBFF71;
  margin-right: 20px;
  margin-left: 90px;
}

.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid gray;
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}
