// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* users/index ================================ */
.users-mark {
  float: left;
  font-size: 80px;
  color: #78FF94;
  margin-right: 20px;
  margin-left: 100px;
}

.users-heading {
  font-weight: 500;
  margin: 100px 0 60px;
  font-size: 48px;
  color: white;
}

.users-index-item {
  padding: 10px 30px;
  margin-bottom: 17px;
  background-color: white;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 7px double black;
}

.user-left img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 5px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  position: relative;
  top: 15px;
  text-align: center;
}

.user-right a {
  font-size: 20px;
}
.user-name-hover a:hover {
  color: #005FFF;
}

/* users/show ================================ */
.profile-mark {
  float: left;
  font-size: 90px;
  color: #B384FF;
  margin-right: 20px;
  margin-left: 110px;
}

.profile-heading {
  font-weight: 500;
  margin: 100px 0 60px;
  font-size: 48px;
  color: white;
}

.login-heading {
  font-weight: 500;
  margin: 100px 0 60px;
  font-size: 48px;
  color: white;
}

.login-mark {
  float: left;
  font-size: 80px;
  color: #78FF94;
  margin-right: 20px;
  margin-left: 120px;
}

.user-show {
  text-align: center;
}

.user-show h1 {
  text-align: left;
}

.user {
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border: 8px double black;
  border-radius: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
  padding: 9px;
}

.user-tabs {
  width: 60%;
  margin-left: 120px;
  margin-top: 80px;
  margin-bottom: 15px;
  overflow: hidden;
}

.postsU-botton a:hover {
  color: #005FFF;
}

.postsU-mark {
  color: #444444;
  font-size: 25px;
}

.likesU-mark {
  color: #444444;
  font-size: 25px;
}

.postsL-botton a:hover {
  color: #005FFF;
}

.postsL-mark {
  color: #444444;
  font-size: 25px;
}

.likesL-mark {
  color: #444444;
  font-size: 25px;
}

.user-tabs li {
  padding-left: 0px;
  padding-right: 0px;
  color: gray;
  float: left;
}

.user-tabs a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #444444;
  font-size: 30px;
  font-weight: 600;
}

.postsU-botton {
  margin-left: 20px;
  margin-right: 20px;
}

.postsL-botton {
  margin-left: 20px;
  margin-right: 20px;
}

.show-sentence-hover a:hover {
  color: #005FFF;
}

.edit-delete-hover a:hover {
  color: #005FFF;
}

/* users/new, users/edit ================================ */
.edit-mark {
  float: left;
  font-size: 80px;
  color: #FF8856;
  margin-right: 20px;
  margin-left: 120px;
}

.signup-mark {
  float: left;
  font-size: 80px;
  color: #77EEFF;
  margin-right: 20px;
  margin-left: 100px;
}

.users-form input {
  margin-bottom: 15px;
}
